* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #2dc997;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.days li:hover {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #FFF;
    background-color: #2dc996;
    border-radius:  r: 10px;
    cursor: pointer;
}

.days li .active {
    padding: 5px;
    background: #2dc997;
    color: white !important
}

.inactiveDays{
    color:grey !important;
    cursor: not-allowed !important;
}

.doctors{
    margin-top: 10%
}

.currentDay{
    border: 2px solid black;
}

.hours{
    background-color: #2dc996;
    color: white;
    cursor: default;
}

.infoHours{
    background-color: #eff5f5;
    cursor: pointer;
}

.infoHours:hover{
    background-color: #ffb399;
    cursor: pointer;
}

.hoursSelected{
    background-color: #ff531a;
    cursor: pointer;
}

.hoursSelected:hover{
    background-color: #ff531a;
    cursor: pointer;
}

.reserved {
    background-color: #ff4d4d;
    cursor: not-allowed;
}

.reserved:hover {
    background-color: #ff4d4d;
    cursor: not-allowed;
}

.inactiveInterval:hover {
    color:grey !important;
    cursor: not-allowed !important;
}
h3{
    margin-top: 10px !important;
}