body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
}
.call-to-action {
  padding: 80px 0;
}
.cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
 .cta-text {
  color: #fff;
} 
.size {
    margin-top: 50;
    background-color: #f5f5f5;
    padding: 25px;
    border-radius: 15px;
}
textarea{
    resize: none;
}
.glyphicon{
    position: initial;
}
hr{
    border: 1px solid black;
}
h1, h2, h3, h4, h5, h6, h7{
    margin-top: 10px !important;
}
.prescription{
    margin-top: 10px;
}