body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
}

.call-to-action {

  padding: 80px 0;
}
 .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
 .cta-text {
  color: #fff;
} 
.size {
    margin-top: 50;
}
textarea{
    resize: none;
}
.glyphicon{
    position: initial;
}
.circle {
    background-color: #FF8C00;
    width: 144px;
    height: 138px;
    border-radius: 78px;
    margin: auto;
}

.textCircle {
    padding-top: 50px;
    padding-left: 16px;
    color: white;
}
    
.colorRating {
    color: white;
}